# This is the configuration file for the etcd server.

# Human-readable name for this member.
name: 'luwak'

# List of comma separated URLs to listen on for peer traffic.
listen-peer-urls: https://0.0.0.0:2380

# List of comma separated URLs to listen on for client traffic.
listen-client-urls: https://0.0.0.0:2378,http://0.0.0.0:2379

# List of this member's client URLs to advertise to the public.
# The URLs needed to be a comma-separated list.
advertise-client-urls: https://0.0.0.0:2378,http://0.0.0.0:2379

# Path to the data directory.
data-dir: /root/etcd/luwak.etcd

# Path to the dedicated wal directory.
wal-dir:

client-transport-security:
  # Path to the client server TLS cert file.
  cert-file: /opt/ca/server.pem

  # Path to the client server TLS key file.
  key-file: /opt/ca/server-key.pem

  # Enable client cert authentication.
  client-cert-auth: false

  # Path to the client server TLS trusted CA cert file.
  trusted-ca-file: /opt/ca/rootca.pem

  # Client TLS using generated certificates
  auto-tls: false

peer-transport-security:
  # Path to the peer server TLS cert file.
  cert-file: /opt/ca/server.pem

  # Path to the peer server TLS key file.
  key-file: /opt/ca/server-key.pem

  # Enable peer client cert authentication.
  client-cert-auth: false

  # Path to the peer server TLS trusted CA cert file.
  trusted-ca-file: /opt/ca/rootca.pem

  # Peer TLS using generated certificates.
  auto-tls: false
